
<h1>
  Szyfr Cezara
</h1>
<hr>
<p>
Szyfr Cezara (zwany też szyfrem przesuwającym, kodem Cezara lub przesunięciem Cezariańskim)
 – jedna z najprostszych technik szyfrowania. Jest to rodzaj szyfru podstawieniowego,
  w którym każda litera tekstu jawnego (niezaszyfrowanego) zastępowana jest inną,
   oddaloną od niej o stałą liczbę pozycji w alfabecie, literą (szyfr monoalfabetyczny),
    przy czym kierunek zamiany musi być zachowany.
     Nie rozróżnia się przy tym liter dużych i małych.
      Nazwa szyfru pochodzi od Juliusza Cezara, który prawdopodobnie używał tej techniki do komunikacji
       ze swymi przyjaciółmi.
</p>