  <nav class="navigations">
    <ul class="navBar">
      <li><a href="#Home">Home</a></li>
      <li><a href="#History">History</a></li>
      <li><a href="#Specification">Specification</a></li>
      <li><a href="#Missions">Missions</a></li>
      <li><a href="#Photos">Photos</a></li>
      <!--<li><a href="#about">About</a></li>-->
    </ul>
  </nav>


<h1>
  {{title}}
</h1>
<h3>To jest appfasdfafsdafsdf.component.html bla bla bla i bla bla bla </h3>
<hr>
<app-todolist>Loading....</app-todolist>




<hr>
<footer>
  <p>Created by Kamil Brożek</p>
</footer>