
  <nav class="navigations">
    <ul class="navBar">
      <li><b><a href="#Szyfrowanie">Szyfr Cezara</a></b></li>
      <li><a href="#Historia">Historia</a></li>
      <!--<li><a href="#">Specyfikacja</a></li>-->
      <li><a href="#Szyfrowanie">Szyfrowanie</a></li>
      <li><a href="#Kontakt">Kontakt</a></li>
      <!--<li><a href="#about">About</a></li>-->
    </ul>
  </nav>


  <div class="firstDiv" >
    <div id="Szyfrowanie">
      <app-about>Loading About...</app-about>
    </div>
      <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
      <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
      <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <div id="Historia">
      <app-history>Loading History...</app-history>
    </div>
      <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
      <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
      <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

      <div id="Szyfrowanie">
        <app-code>Loading Code...</app-code>
      </div>
      <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
      <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
      <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <div id="Kontakt">
      <app-contact>Loading Contact...</app-contact>
    </div>
  </div>
  
  <!--content-->
  <!--<div class="firstDiv">
    
      <div id="Szyfr" class="secondDiv">
        <app-history>Loading...</app-history>
        
      </div>
      <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
      <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
      <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
      <div id="History" class="secondDiv">
        
      </div>
      <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
      <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
      <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    </div>
  </div>-->


<!--<h1>
  Szyfr Cezara
</h1>
<hr>
<p>
 Szyfr Cezara (zwany też szyfrem przesuwającym, kodem Cezara lub przesunięciem Cezariańskim) – jedna z najprostszych
  technik szyfrowania. Jest to rodzaj szyfru podstawieniowego, w którym każda litera tekstu jawnego (niezaszyfrowanego) 
  zastępowana jest inną, oddaloną od niej o stałą liczbę pozycji w alfabecie, literą (szyfr monoalfabetyczny),
   przy czym kierunek zamiany musi być zachowany. Nie rozróżnia się przy tym liter dużych i małych. 
   Nazwa szyfru pochodzi od Juliusza Cezara, który prawdopodobnie używał tej techniki do komunikacji ze swymi przyjaciółmi.
</p>-->




<hr>

