  <!--<nav class="navigations">
    <ul class="navBar">
      <li><a href="#ROT13">ROT13</a></li>
      <li><a href="#History">Historia</a></li>
      <li><a href="#Szyfrowanie">Specyfikacja</a></li>
      <li><a href="#Kontakt">Kontakt</a></li>
      <li><a href="#about">About</a></li>
    </ul>
  </nav>-->


<h1>
  Historia Szyfru Cezara
</h1>
<hr>
<p>
 Szyfr Cezara (zwany też szyfrem przesuwającym, kodem Cezara lub przesunięciem Cezariańskim) – jedna z najprostszych
  technik szyfrowania. Jest to rodzaj szyfru podstawieniowego, w którym każda litera tekstu jawnego (niezaszyfrowanego) 
  zastępowana jest inną, oddaloną od niej o stałą liczbę pozycji w alfabecie, literą (szyfr monoalfabetyczny),
   przy czym kierunek zamiany musi być zachowany. Nie rozróżnia się przy tym liter dużych i małych. 
   Nazwa szyfru pochodzi od Juliusza Cezara, który prawdopodobnie używał tej techniki do komunikacji ze swymi przyjaciółmi.
</p>
<!--<app-todolist>Loading....</app-todolist>-->




<hr>
